
:host .record-wrapper {

    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 200px;
    height: 100%;

    a {
        padding: 5px;
        font-size: 30px;
        line-height: 30px;
        z-index: 100;
        height: 40px;
        width: 40px;
    }

    .code-wrapper {
        max-height: 100%;
        overflow: auto;
        padding: 20px;
        flex-basis: 100%;
    }

    pre {
        white-space: pre;
    }
}

