
:host .jupytangular-search {
    display: flex;
    height: 100%;

    form {
        width: 200px;
        flex-basis: 200px;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        display: none;
        flex-direction: column;
    }

    .result-scroll,
    .results-wrapper {
        display: block;
        max-height: 100%;
        max-width: 100%;
        overflow: auto;
    }

    .result-scroll {
        display: none;
        padding: 20px;
    }

    md-input-container {
        width: 100%;
    }
}

/deep/ .expanded .jupytangular-search[class] {
    .result-scroll[class] {
        display: block;
    }

    form[class] {
        display: flex;
    }
}
