<div class="jupytangular-search">
    <div class="result-scroll">
        <bc-result [selected]="selected"></bc-result>
    </div>
    <form>
        <md-input-container>
            <input mdInput name="search" required type="text"
                   placeholder="Search" autocomplete="off"
                   maxlength="100" [(ngModel)]="query" (change)="search()">
        </md-input-container>
        <div class="results-wrapper">
            <bc-results-list (change)="selected=$event" [results]="results.slice(0, 5)"></bc-results-list>
        </div>
    </form>
</div>
