<md-card class="contain">
    <form class="form-signin" method="POST" action="#" role="form">
        <md-card-title>{{ 'AUTH.RESETPASSWORD.TITLE' | translate }}</md-card-title>
        <md-input-container>
            <input mdInput id="verificationCode" type="hidden" maxlength="50"
                   placeholder="{{ 'AUTH.RESETPASSWORD.CODE' | translate }}"
                   [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">
        </md-input-container>
        <md-input-container>
            <input mdInput id="newPassword" type="password" maxlength="25"
                   placeholder="{{ 'AUTH.RESETPASSWORD.PASSWORD' | translate }}"
                   length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
        </md-input-container>
        <md-card-actions>
            <button md-raised-button color="primary" (click)="onNext()" id="signupSubmit" type="submit">
                {{ 'AUTH.RESETPASSWORD.SUBMIT' | translate }}
            </button>
        </md-card-actions>
    </form>
</md-card>
