
[md-dialog-title] {
    text-align: center;
}

md-dialog-actions {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.contain {
    text-align: center;
}

h3 {
    margin-top: 0;
}
