@import '~@angular/material/theming';

$secondary: #0099BB;
$primary: #FF9900;
$warning: #DD0044;

$pure-white: #fff;

$light-light-gray: #EEEEEE;
$light-gray: #CCCCCC;
$gray: #999999;
$dark-gray: #777777;
$dark-gray: #444444;
