@import '~@angular/material/_theming';
@import './colors';
@import './palette';

@include mat-core();

app-root.jupytangular {

}

app-root {
    @import './reset';

    @import '~@angular/material/_theming';
    @include angular-material-theme($theme);

    $custom-typography: mat-typography-config(
            $font-family: '"Poppins", Arial, sans-serif',
            $headline: mat-typography-level(24px, 48px, 400),
            $body-1: mat-typography-level(16px, 24px, 400),
            $button: mat-typography-level(16px, 24px, 400)
    );

    @include angular-material-typography($custom-typography);

    @import './material-overrides';
}
