<md-card class="contain">
    <form>
        <md-card-title>{{ 'AUTH.FORGOTPASSWORD.TITLE' | translate }}</md-card-title>
        <md-input-container>
            <input mdInput name="signupEmail" type="email" maxlength="50"
                   placeholder="{{ 'AUTH.FORGOTPASSWORD.EMAIL' | translate }}"
                   [(ngModel)]="email"
                   [ngModelOptions]="{standalone: true}">
        </md-input-container>
        <md-card-actions>
            <button md-raised-button color="primary" (click)="onNext()" id="nextPage" type="submit">
                {{ 'AUTH.FORGOTPASSWORD.NEXT' | translate }}
            </button>
            <a md-button routerLink="../register">{{ 'AUTH.FORGOTPASSWORD.REGISTER' |
                translate }}</a>
            <a md-button routerLink="../login">{{ 'AUTH.FORGOTPASSWORD.LOGIN' | translate }}</a>
        </md-card-actions>
    </form>
</md-card>