@import '../assets/sass/colors';
@import '../assets/sass/palette';

:host .app-wrapper {
    color: $dark-gray;
    font-size: 18px;
    text-rendering: geometricPrecision;
    font-family: 'Poppins', Arial, sans-serif;

    // TODO: Add material theme for the tri-color-wheel that updates the component immediately
    // TODO: Add wireframe theme from earlier jupytangular commits

    background: white;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, .2);
    display: block;
    transition: ease-in-out .15s;
    overflow: hidden;
    height: 100%;

    a {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 30px;
        line-height: 30px;
        z-index: 100;
    }
}

:host.jupytangular {

    position: fixed;
    right: 10px;
    top: 0;
    left: auto;
    bottom: auto;
    z-index: 99999999;
    opacity: .2;
    transition: ease-in-out .15s;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 40px;
    max-width: 40px;

    &.expanded {
        opacity: 1;
        max-height: 100%;
        max-width: 100%;
    }

    &:hover, &:focus, &:active {
        opacity: 1;
    }
}
